<div>
    
    <!-- <label>Movie name:
      <input #movieName />
    </label> -->
    <!-- (click) passes input value to add() and then clears the input -->
    <!-- <button (click)="add(movieName.value); movieName.value=''"> -->
      <!-- add -->
    <!-- </button> -->
    <app-movie-search></app-movie-search>
  </div>

<h2>Movies</h2>

<ul class="movies">
  <li *ngFor="let movie of movies">
      <a routerLink="/detail/{{movie.id}}">
        <img src="{{ movie.imageUrl }}" style="height:400px;">
      </a>
  </li>
</ul>
